/* William */
body{
    background-color:#ffffff;
}
header{
    height: 100px;
    width: 100%;
    background-color: #36648b;
    padding: 0px 0px;
}

.headerTitle{
    font-size: 40px;
    position: fixed;
    left: 10px;
    top: -10px;
    font-family: Roboto Slab Thin, Source Sans Pro Light, Roboto Medium;
    color: #f4d8a0;
    font-weight: 100;
  }
nav{ 
    position: fixed;
    top: 60px;
    height: 48px;
    line-height: 50px;
    width: 100%;
    background-color: #0000001c;
  }

.headerUrl{
    color: #ffffff;
    display: inline-block;
    font-family: Source Sans Pro Light, Roboto Medium, Roboto Slab Thin ;
    padding: 10px 15px;
    line-height: 25px;
    text-decoration: none;
    border-radius: 2px;

}
.logo{
    top: 15px;
    position: fixed;
    left: 220px;
}
#containerChild{
    float: left;
    display: inline-block;
    vertical-align: middle;
}
.login_button{
    align-items: flex-end;
    top: 50px;
    height: fit-content;
}
form{
    border: 3px #36648b;
    display: inline-block;
    position: sticky;
    width: 100%;
    text-align: center;
    top: 110px;
}
.login{
    position: relative;
    right: 30px;
}
.about_text{
    text-align: center;
}
footer{
    text-align: center;
    background-color: #36648b;
    padding: 3px;
    position: fixed;
    width: 100%;
    bottom: 10px;
}
